@import url('https://fonts.googleapis.com/css2?family=Rampart+One&family=Tilt+Warp&display=swap');


.App {
  text-align: center;
  min-height: 100vh;
}

.product-Card {
  width: 18rem;
  height: 39rem;
  margin: 15px;
}

.Card-img {
  margin: 0 auto;
  width: 18rem;
  height: 23rem;
}

.card-name {
  font-size: 22px;
}

.card-rating {
  margin: 0;
}

.card-ram-text {
  font-size: 16px;
  font-weight: 600;
  margin: 5px;
}

.card-price {
  font-size: 25px;
  margin: 0;
  font-family: 'Rampart One', cursive;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 20px;
}

.appbar-home {
  text-decoration: none;
  color: white;
}

.Home-text {
  text-align: left;
  padding: 50px;
  font-size: 30px;
  font-family: 'Rampart One', cursive;
}

.edit-heading {
  font-family: 'Rampart One', cursive;
}

.card-btn-edit {
  background-color: transparent !important;
  color: orange !important;
}

.card-btns {
  margin: 0 auto;
}

.addproduct-container {
  display: grid;
  width: 500px;
  margin: 0 auto;
  gap: 15px;
}

.add-heading {
  font-family: 'Rampart One', cursive;
}